= render partial: 'admin/sider'
.span9
  - if @store.present?
    .page-header
      
      %h1
        =t @store.title
        = link_to "View My Store", store_path(@store), class: 'btn btn-info', target: '_blank'

    %p
      %strong description
      %br
      = @store.description

  - else
    .page-header
      %h1 Store Not Found

